html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
#EmmasWeatherApp {
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

span.mintemp{
  font-size: 10pt !important;
  text-align: left;
}
span.maxtemp{
  font-size: 10pt !important;
  text-align: right;
  margin-left: 20px;
}

p.temp{
  font-size: 10pt !important;
  display: flex;
}

img.emoji{
  size-adjust: 50% !important;
  width: 50px !important;
  display: block;
  margin: 0 auto;
}

a{
  color: #05576F;
}

a:hover{
  font-weight: 700;
}

.day{
  font-size: larger;
}


form {
  margin: auto;
  width: 50%;
  padding: 10px;
  display: flex;
}

.temp {
  font-size: smaller;
}

#Current-weather-condition {
  text-transform: capitalize;
}

#cityInput {
  line-height: 19pt;
  width: 500px;
  text-align: center;
  border-color: #05576F;
  height: 25pt;
  font-size: 18pt;
}
#cityInput:hover {
  background-color: #e8f0fe;
  cursor: text;
}
#CityButton {
  background-color: #05576F;
  color: azure;
  border-radius: 10%;
  height: 25pt;
  width: 150pt;
  text-transform: uppercase;
  margin-left: 20px;
  padding: 8px;
  padding-left: 25px;
  padding-right: 25px;
}
#CityButton:hover {
  background-color: azure;
  color: #05576F;
  cursor: pointer;
}
footer {
  position: fixed;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-weight: 500;
  font-size: 60pt;
  margin: 30px;
  color: #89833A !important;
  font-family: 'Times New Roman', Times, serif !important;
}

p.current-temp {
  font-weight: 500;
  font-size: 60pt;
  margin: 30px;
  color: #89833A !important;
  font-family: 'Times New Roman', Times, serif !important;
  margin-right: 0px !important;
}
#current-unit {
    font-weight: 500;
  font-size: 60pt;
  margin: 30px;
  color: #89833A !important;
  font-size: 30pt;
  margin: 30px;
  margin-left: 0px !important;
}
label {
  font-size: smaller;
  align-items: center;
  text-align: center;
  margin-top: -55px !important;
  margin-left: 25px;
}
#EmmaLogo{
  height: 80px;
  display: block;
  margin: 0 auto;
}
div.current-weather {
  display: flex;
  padding: 0;
  margin: 0;
  line-height: 25px;
}
#current-description {
  padding: 0;
  margin: 0;
  line-height: 10pt;
}
.main-emoji {
  margin-top: -10px;
}

div.forecast-weather {
  background-color: teal;
  opacity: 50%;
  color: azure;
  width: 700px;
}



html {
  width: 800px;
  align-items: center;
  align-content: center;
  align-self: center;
  vertical-align: middle;
  justify-content: space-around;
  background-color: #F6EBE6;
}
ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  flex: 1;
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
}
