html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
#EmmasWeatherApp {
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

form {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.temp {
  font-size: smaller;
}

#Current-weather-condition {
  text-transform: capitalize;
}

#cityInput {
  line-height: 14pt;
  width: 150px;
  text-align: center;
  border-color: teal;
  border-radius: 10%;
  height: 25pt;
}
#cityInput:hover {
  background-color: #e8f0fe;
  cursor: text;
}
#CityButton {
  background-color: teal;
  color: azure;
  border-radius: 10%;
  height: 20pt;
  width: 70pt;
  text-transform: uppercase;
}
#CityButton:hover {
  background-color: azure;
  color: teal;
  cursor: pointer;
}
footer {
  position: fixed;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-weight: 500;
  font-size: 30pt;
  margin: 30px;
}

p.current-temp {
  font-size: 30pt;
  margin: 30px;
  margin-right: 0px !important;
}
#current-unit {
  font-size: 30pt;
  margin: 30px;
  margin-left: 0px !important;
}
label {
  font-size: smaller;
  align-items: center;
  text-align: center;
  margin-top: -55px !important;
  margin-left: 25px;
}

div.current-weather {
  display: flex;
  padding: 0;
  margin: 0;
  line-height: 25px;
}
#current-description {
  padding: 0;
  margin: 0;
  line-height: 10pt;
}
.main-emoji {
  margin-top: -10px;
}

div.forecast-weather {
  background-color: antiquewhite;
  width: 700px;
}

.maxtemp {
  margin-left: 20px;
}

html {
  width: 800px;
  align-items: center;
  align-content: center;
  align-self: center;
  vertical-align: middle;
  justify-content: space=around;
}
ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  flex: 1;
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
}
